<div class="panel panel-primary">
  <div class="panel-heading">
      <h2>VTC</h2>
  </div>
  <div class="panel-body">
      <div class="form-horizontal">
          <form>
              <div class="col-sm-3 col-sm-offset-1">
                  <button type="button" (click)="verVTC()" class="btn btn-primary">Ver VTC</button>
              </div>
              <div class="col-sm-3 ">
                  <button type="button" (click)="downloadVTC()" class="btn btn-primary">Descargar VTC</button>
              </div>
              <div class="col-sm-3">
                  <button type="button" (click)="imprimirVTC()" class="btn btn-primary">Imprimir VTC</button>
              </div>
          </form>
      </div>
  </div>
</div>
