<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Asignarme otro vehículo</h2>
  </div>
  <br>
  <div class="panel-body">
    <div class="form-horizontal">
      <form>
        <div class="row">
          <label class="col-sm-1 col-form-label">Vehículos de la compañia:</label>
          <div class="col-sm-3 ">
            <select #selectElem (change)="actualizaVehiculo(selectElem.value)" class="form-control" name="idVehiculo"
              [(ngModel)]="idVehiculo">
              <option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.id">
                {{vehiculo.matricula}}--{{vehiculo.modelo}}
              </option>
            </select>
          </div>
        </div>
        <hr>
        <div class="row">
          <label class="col-sm-1 col-form-label">Tu foto:</label>
          <div class="form-group">
            <div *ngIf="urlFoto"><img class="img-responsive left-block col-sm-offset-1" [src]="src" src="{{urlFoto}}"
                alt="" height="200" width="200"></div><br>
            <div class="col-sm-3  col-form-label col-sm-offset-1">
              <label for="file">Imagen del conductor (max 1024K):</label>
              <input type="file" id="file" (change)="handleFileInput($event.target.files)">
            </div>
          </div>
        </div>
        <hr>
        <!-- <div class="row">
          <label class="col-sm-1 col-form-label">Send a notify:</label>
          <div class="form-group">
            <div class="col-sm-3  col-form-label col-sm-offset-1">
              <button pButton type="button" icon="fa-check" (click)="notify()" style="color: white;background-color:cyan"></button>
            </div>
          </div>
        </div> -->

        <p-messages [(value)]="msgs"></p-messages>
      </form>
    </div>
  </div>
</div>